MULTIPOST_DATABASE_URL="postgresql://postgres:password@127.0.0.1:35432/multipost_db?schema=public&sslmode=disable&TimeZone=Asia/Shanghai"

APP_SECRET=<your-app-secret>

INTERNAL_SECRET=<your-internal-secret>
TWOSOMEREN_BASE_URL=http://localhost:3002

AUTH_SECRET=<your-secret>
AUTH_GITHUB_ID=<your-github-id>
AUTH_GITHUB_SECRET=<your-github-secret>
AUTH_GOOGLE_ID=<your-google-id>
AUTH_GOOGLE_SECRET=<your-google-secret>
AUTH_URL=http://localhost:3000/api/auth

NEXT_PUBLIC_TURNSTILE_SITE_KEY=<your-turnstile-site-key>