SARACLICK_DATABASE_URL=

APP_URL=
INTERNAL_SECRET=

DIFY_API_URL=
DIFY_POST_GEN_KEY=
DIFY_IMAGE_GEN_KEY=

TIKTOK_CLIENT_KEY=
TIKTOK_CLIENT_SECRET=

X_CLIENT_ID=
X_CLIENT_SECRET=
X_CODE_VERIFIER=

TASK_CRON="*/1 * * * *"
REFRESH_ACCOUNT_CRON="*/1 * * * *"
CHECK_PUBLISH_STATUS_CRON="*/1 * * * *"

MODE=development